.individual_profile{
    padding:2px;
}


.profile_cover-photo{
    width: 100%;
    max-height: 150px;
    height: auto;
}

.profile_photo{
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    height: auto;
}
#profile_img{
    width: 100%;
    height: auto; 
}

section {
    background-color: rgba(255,255,255,.3);
    padding: 15px;
    color: white;
    text-align: left;
}

li a{
    text-align: center;
    color: Olive;
    text-decoration: none;
} 

.profile_links{
    color:black;
}

h4{
    color:black;
    font-family: "garamond", "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    
}
@media screen and (min-width: 480px) {
    section::after {
        clear: both;
        content: '';
        display: table;
        height: 0;
        visibility: hidden;
    }
    section article {
        float: left;
        padding: 20px;
    }

    /* Re-style here... */
    
    #article1 {
        width: 35%;
    }
        #article2 {
        width: 60%;
    }
}

@media screen and (min-width: 1280px) {
    /* Re-style here, if necessary! */

    header::after {
        clear: both;
        content: '';
        display: block;
        height: 0;
        visibility: hidden;
    }  
}